<!DOCTYPE html>
<html lang="en">
<head>
    <title>campaign details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Adviser</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/sponsor/{{user.username}}/dashboard">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/{{user.username}}/campaigns">Campaigns</a>
            </li>
        

          </ul>
          <form class="d-flex" role="search" method="get" action="{{url_for('search_inf',username=user.username)}}">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query">
            <button class="btn btn-outline-success" type="submit" >Search</button>
          </form>
        </div>
        <ul class="navbar-nav me-auto mb-1 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/sponsor/login" >Logout</a>
          </li>
        </ul>
      </div>
  </nav>
  <!-- END OF NAVBAR -->
<!-- CAMPAIGN DETAILS -->

<div class="container overflow-hidden text-center" id="container" style="text-align: center;box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);background-color: #fff;border: 0px solid rgb(101, 99, 99); padding: 1rem;border-radius: 15px;">
  <h1 id="heading" style="color: darkblue;">{{camp.name}} </h1>
  <h4 id="heading" style="color: darkblue;">{{camp.visibility}} Campaign</h4>
  {%if camp.flagged==0%}
  <h5 hidden>Status: <b style="color: green; text-align: center;">Active</b></h5>
  {%else%}
  <h5>Status: <b style="color: red; text-align: center;">Flagged</b></h5>
  {%endif%}
  <br>
  <div class="row g-2">
    <div class="col">
     <!-- <div class="p-3">Custom column padding</div> -->
     <!-- <p>Campagin Name: <b>{{camp.name}}</b></p> -->
    <p>Sponsor: {{camp.sponsors.company_name}}</p>
    <p>Category: {{camp.categories.name}}</p>
    <p>Start Date: {{camp.start_date}}</p>
    <p>End Date: {{camp.end_date}}</p>
    
    </div>
    <div class="col">
      <!-- <div class="p-3">Custom column padding</div> -->
      <p>Campaign Budget: {{camp.initial_budget}}</p>
      <p>Remaining Budget: <b>{{camp.budget}}</b></p>
    {% set ns = namespace(total=0) %}
    {%for ad in camp.ads%}
    {%set ns.total=ns.total+ad.budget%}
    {%endfor%}
    {%if camp.status=='completed'%}
    <p>Spent: {{ns.total}}</p>
    {%else%}
    <p>Spent: {{camp.initial_budget - camp.budget }}</p>
    {%endif%}
    <p>Goals: {{camp.goals}}</p>
    <!-- <p>Campaign Status: <b>{{camp.status}}</b></p> -->
    </div>
  </div>
</div>
  
<!-- LIST OF ACTIVE ADDS -->
 <div>
 {%if camp.flagged==0%}
 {%if camp.status=='active' and camp.flagged==0%}
<h2 style="color: blue; padding: 2rem;">Active Ads : </h2>   
<div id="campaign">
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100" id="cards">
        <img src="/static/add.png" class="card-img-top" alt="...">
        <div class="card-body">
            
                <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#newad" style="margin-left: 2.2rem;padding: 10px;" >New Ad Request</button>
            
                          <!-- Modal -->
  <div class="modal fade" id="newad" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="width: 155%;">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create New Ad</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{{url_for('new_ad',id=camp.campaign_id,username=user.username)}}" method="post">
        <div class="modal-body">
          
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Ad Title </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputEmail3" name="name" required>
              </div>
            </div>
            
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Requirement </label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputPassword3" name="content" required>
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Budget </label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" id="inputPassword3" name="budget" min="1" max="{{camp.budget}}"  required>
                </div>
            </div>

            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Niche</label>
                <div class="col-sm-10">
                  <select class="form-control" id="inputPassword3" name="niche_id" required>
                      {%for niche in niches%}
                      <option value="{{niche.niche_id}}">{{niche.name}}</option>
                      {%endfor%}
                  </select>
                </div>
              </div>

            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Assign an Influencer</label>
                <div class="col-sm-10">
                  <select class="form-control" id="inputPassword3" name="influencer_id" >
                    <option value="">None</option>
                      {%for inf in infs%}
                      <option value="{{inf.influencer_id}}">{{inf.username}}</option>
                      {%endfor%}
                  </select>
                </div>
              </div>
              {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <p class=flashes >
                {% for category, message in messages %}
                  <h5 class="{{ category }}" style="color: red; text-align: center;">{{ message }}</h5>
                {% endfor %}
                </p>
              {% endif %}
            {% endwith %} 
            <input type="hidden" name="campaign_id" value="{{camp.campaign_id }}">
            
        


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success"  style="display: inline;">Create</button>
        </div>
      </form>
      </div>
    </div>
  </div>
        </div>
      </div>
    </div>
    {% for ad in camp.ads %}
    {%if ad.status=='pending' or ad.status=='requested to influencer' or ad.status=='accepted by influencer' or ad.status=='accepted by sponsor' %}
  
    <div class="col">
      <div class="card h-100" id="cards">
        <img src="/static/ads.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">{{ad.name}}</h5>
          <p class="card-text" style="text-align: center;"> || {{ad.budget}} || {{ad.status}} ||</p>
        </div>
        
            <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#viewad{{ad.ad_id}}" style="margin-left: 1rem;">View</button> 
       
         
        
            <button class="btn btn-warning" type="button" data-bs-toggle="modal" data-bs-target="#updatead{{ad.ad_id}}" >Update</button> 
        
        <form action="{{url_for('del_ad',username=user.username,ad_id=ad.ad_id,camp_id=camp.campaign_id)}}" method="GET" style="display: inline; margin: 1px;" >
            <button  class="btn btn-danger" type="Submit">Delete</button>    
        </form>
        
      </div>
    </div>

    {%endif%}
    {%endfor%}
  </div>
</div>
{%endif%}
{%endif%}
</div>
<!-- COMPLETED ADS -->

<h2 style="color: blue; padding: 2rem;">Completed Ads : </h2>   
<div id="campaign">
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for ad in camp.ads %}
  {%if ad.status=='ad req fulfilled' or ad.status=='Paid'%}    
    <div class="col">
      <div class="card h-100" id="cards">
        <img src="/static/ads.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">{{ad.name}}</h5>
          {%if ad.negotiate_budget==0%}
          <p class="card-text" style="text-align: center;">|| {{ad.budget}} || {{ad.status}} ||</p>
          {%else%}
          <p class="card-text" style="text-align: center;"> || {{ad.negotiate_budget}} || {{ad.status}} ||</p>
          {%endif%}
        </div>
        
            <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#viewad{{ad.ad_id}}" style="margin-left: 6rem;">View</button> 
       
      </div>
    </div>
    {%endif%}
    {%endfor%}
  </div>
</div>



<!-- Requested by influencer -->

<h2 style="color: blue; padding: 2rem;">Ad Requests by Influencers  : </h2>   
<div id="campaign">
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for ad in camp.ads %}
  {%if ad.status=='requested by influencer' %}
    <div class="col">
      <div class="card h-100" id="cards">
        <img src="/static/ads.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">{{ad.name}}</h5>
          <p class="card-text" style="text-align: center;">|| {{ad.budget}} || {{ad.status}} ||</p>
        </div>
        
            <button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#viewad{{ad.ad_id}}" >View</button> 
      
        <form action="{{url_for('ad_status',username=user.username,ad_id=ad.ad_id)}}" method="post" style="display: inline; margin-left: 0.35rem; margin-right: 0.25rem;">
          <button type="submit" class="btn btn-success" name="status" value="{{ad.influencer_id}}">Accept</button>
          </form>
          <form action="{{url_for('ad_status',username=user.username,ad_id=ad.ad_id)}}" method="post" style="display: inline; margin: 1px;">
            <button type="submit" class="btn btn-danger" name="status" value="rejected by sponsor">Reject</button>
            </form>
      </div>
    </div>
    {%endif%}
    {%endfor%}
  </div>
</div>
<!-- Button trigger modal -->


<!-- Modal -->
 
 {%for ad in camp.ads%}
 <!-- view ad modal -->
<div class="modal fade" id="viewad{{ad.ad_id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form action="{{url_for('payment',username=user.username,camp_id=camp.campaign_id,ad_id=ad.ad_id,status=status)}}" method="GET" style="display: inline-block; padding: 2px 0rem 0rem 5rem;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewad{{ad.ad_id}}">Ad {{ad.ad_id}} Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Ad title: {{ad.name}}</p>
        <p>Campagin Name: {{ad.campaign.name}}</p>
        <p>Campagin Sponsor: <b>{{ad.campaign.sponsors.company_name}}</b></p>
        <p>Requirements: <b>{{ad.content}}</b></p>
        <p>Category: {{ad.campaign.categories.name}}</p>
        <p>Niche: {{ad.niche.name}}</p>
        <p>Budget: <b>{{ad.budget}}</b></p>
        {%if ad.negotiate_budget>0%}
        <p style="color: red;" >Requested Payment: <b >{{ad.negotiate_budget}}</b></p>
        {%endif%}
        {% if ad.influencer_id!=-1 and ad.status != 'requested by influencer'%}
        <p>Influencer: <b>{{ad.influencers.f_name}} {{ad.influencers.l_name}}</b></p>
        {%endif%}
        <p>Status: <b>{{ad.status}}</b></p>
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        {%if ad.status=='ad req fulfilled'%}
        <button class="btn btn-warning">Pay Now</button>
        {%endif%}
      </div>
    </div>
  </form>
  </div>
</div>
 <!-- update ad modal -->
 <div class="modal fade" id="updatead{{ad.ad_id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form action="{{url_for('update_ad',camp_id=camp.campaign_id,username=user.username,ad_id=ad.ad_id)}}" method="POST" style="display: inline; margin-left: 0.35rem; margin-right: 0.25rem;">
    <div class="modal-content" style="width: 155%;">
      <div class="modal-header">
        <h5 class="modal-title" id="updatead{{ad.ad_id}}">Ad {{ad.ad_id}} Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row mb-3">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Ad Title</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputEmail3" name="name" value="{{ad.name}}" required>
          </div>
        </div>
        
        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Requirement</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputPassword3" name="content" value="{{ad.content}}" required>
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Budget</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="inputPassword3" name="budget" min="1"  value="{{ad.budget}}" required>
            </div>
        </div>

        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Niche</label>
            <div class="col-sm-10">
              <select class="form-control" id="inputPassword3" name="niche_id" required>
                  {%for niche in niches%}
                  <option value="{{niche.niche_id}}">{{niche.name}}</option>
                  {%endfor%}
              </select>
            </div>
          </div>

        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Assign an Influencer</label>
            <div class="col-sm-10">
              <select class="form-control" id="inputPassword3" name="influencer_id"  required>
                <option value="-1">None</option>
                  {%for inf in infs%}
                  <option value="{{inf.influencer_id}}">{{inf.username}}</option>
                  {%endfor%}
              </select>
            </div>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-warning" value="Submit" style="display: inline;">Update</button>
        
      </div>
    </div>
  </form>
  </div>
</div>
    {%endfor%}
</body>
</html>