<!DOCTYPE html>
<html lang="en">
<head>
    <title>login</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div id="image">
        <a href="/"><img src="/static/logo.png" class="card-img-top"></a>
    </div>
    
    <br>
    
    <div id="container" style="margin: 5px 300px 5px 300px; border: 2px solid grey; padding: 2em 2em 0em 2em;border-radius: 20px;" >
        <h2 id="heading">Influencer Registration</h2>
                
                <div class="row g-3">
                    <div class="col-sm-7">
                      <input type="text" class="form-control" placeholder="First Name" aria-label="f_name">
                    </div>
                    <div class="col-sm">
                      <input type="text" class="form-control" placeholder="Last name" aria-label="l_name">
                    </div>
                </div>
                <br>
                <div class="row g-3">
                    <div class="col-sm-7">
                      <input type="text" class="form-control" placeholder="User Name" aria-label="user_name">
                    </div>
                    <div class="col-sm">
                      <input type="password" class="form-control" placeholder="Password" aria-label="pwd">
                    </div>
                </div>
                <br>
                <div>
                    <div class="col-sm">
                        <input type="text" class="form-control" placeholder="category" aria-label="cat">
                    </div>
                </div>
                <br>
                <div>
                    <div class="col-sm">
                        <input type="text" class="form-control" placeholder="Niche" aria-label="niche">
                    </div>
                </div>
                <br>
                <div>
                    <label for="social_media" >Social Media Presence : </label>
                    <div class="form-check form-check-inline" >
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">Instagram</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">Youtube</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" >
                        <label class="form-check-label" for="inlineCheckbox3">Twitter</label>
                      </div>
                      <br><br>
                      <div>
                        <label for="reach">Number of Subscribers: </label>
                        <input type="number" name="reach" >
                      </div>
                </div>
    
                <div class="col-12" style="padding: 2em .2em;">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                  </div>
    </div>
    
</body>
</html>